.icon-btn {
    -fx-background-size: 25px 25px;
    -fx-padding: 10px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-min-width: 60px;
}

#homeBtn {
    -fx-background-size: 30px 30px;
    -fx-background-image: url(com/labs/images/home.png);
}

.circle {
    -fx-fill: black;
    -fx-min-width: 10px;
    -fx-min-heigt: 10px;
}

.circle {
    -fx-border-radius: 8;
    -fx-background-color: BLACK;
}

.borderButton {
    -fx-border-color: black;
    -fx-border-width: 1;
}

.h-btn {
    -fx-background-radius: 0;
    -fx-pref-height: 16;
    -fx-pref-width: 70;
}

.v-btn {
    -fx-background-radius: 0;
    -fx-pref-height: 70;
    -fx-pref-width: 16;
}
